.method {
  width: 45%;
}
.argument {
  width: 15%;
}
.start-time {
  width: 5%;
  min-width: 100px;
}
.gap {
  width: 5%;
}
.exec-ms {
  width: 6%;
}
.exec-percent {
  width: 10%;
}
.self {
  width: 5%;
}
.api {
  width: 10%;
}
.agent {
  width: 15%;
}
.application {
  width: 15%;
}