body{
  margin: 0;
}
html, body {
  height: 100%;
}
img{display: block;}
div,header,footer,nav,article,section,aside,label,input,textarea,select,button,ul,ol,li,h1,h2,h3,h4,h5,a,img{
  box-sizing: border-box;
}
img{border:0;display:block;}
a{
  text-decoration:none;
  cursor: pointer;
  color: inherit;
  -webkit-tap-highlight-color: transparent; 
  -webkit-appearance: none; 
}
