div,header,footer,nav,article,section,aside,label,input,textarea,select,button,ul,ol,li,h1,h2,h3,h4,h5,a,img{
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 55%;
}
body {
  min-width: 1024px;
  color: #303c46;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5em;
  // font-weight: 300
  letter-spacing: 0.01em;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
b,
strong {
  font-weight: bold;
}
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}
h4 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

table {
  border-spacing: 0;
  width: 100%;
}
td,
th {
  border-bottom: 0.1rem solid #e4e7ed;
  padding: 0.9rem 1.5rem;
  text-align: left;
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 40rem) {
  table {
    border-spacing: 0;
    display: flex;
    width: 100%;
    thead {
      border-right: solid 0.1rem #e4e7ed;
      td,
      th {
        padding-left: 0;
        &:first-child {padding-left: 0;}
        &:last-child {padding-right: 1.2rem;}
      }
    }
    tbody {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      tr {
        border-right: solid 0.1rem #e1e1e1;
        &:last-child {border-right: none;}
      }
    }
    td,
    th {
      display: block;
      &:first-child {padding-left: 1.2rem;}
      &:last-child {padding-right: 1.2rem;}
    }
  }
}
