div,header,footer,nav,article,section,aside,label,input,textarea,select,button,ul,ol,li,h1,h2,h3,h4,h5,a,p,img{
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  min-width: 1024px;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover{
    color: inherit;
  }
}
b,
strong {
  font-weight: bold;
}
p {
  margin-top: 0;
}

table {
  border-spacing: 0;
  width: 100%;
}
td,
th {
  border-bottom: 1px solid #e4e7ed;
  padding: 0.9em 1.5em !important;
  text-align: left;
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
.ivu-tooltip-popper{
  word-break: break-all;
}
