.icon{
  width: 15px;
  height: 15px;
  fill: currentColor;
}
.icon.sm{
  width: 13px;
  height: 13px;
}
.icon.lg{
  width: 17px;
  height: 17px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.d3-tip,.d3-tip-grey {
  line-height: 1;
  padding: 8px;
  color: #eee;
  border-radius: 4px;
  font-size: 12px;
}
.d3-tip{
  background: #252a2f;
}
.d3-tip-grey{
  background: #252a2fcc;
}

.d3-tip-grey:after.d3-tip:after {
  box-sizing: border-box;
  display: block;
  font-size: 10px;
  width: 100%;
  line-height: 0.8;
  color: #252a2f;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip-grey:after {
  color: #252a2fcc;
}

.d3-tip-grey.n:after,.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
.rk-btn{
  padding: 3px 8px;
  background-color: #458eff;
  border-radius: 3px;
  color: #fff;
  &:hover{
    background-color: #357de9;
  }
}